# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development
*.log
results/

# LaTeX build
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.run.xml
*.synctex.gz
*.toc
thesis/aalto/*.xmpdata
thesis/aalto/pdfa.xmpi 